.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: #004080;
  color: white;
  border-bottom: 1px solid #022a52;

  a {
    color: white;
  }

  p {
    color: white;
  }  
}

@media not print {

  body > footer:first-of-type {
    padding-top: 20px;
  }
  

  body > *:not(header) {    
    padding: 0 3vh;

    h1,
    h2,
    h3 {
      scroll-margin-top: 70px;
    }    
  }
}

@media print {
  .sticky-header {
    visibility: hidden;
  }
}

main img {
  text-align: center;
  margin-bottom: 15px;
}

main p.quote {   
  font-style: italic;
  border-left: 1pt solid black;
  padding-left: 5px;
}

footer img {
  float: left;
  max-width: 100%;
  max-height: 200px;
  margin-right: 10px;
}

math {
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin: 15px auto;
  font-size: x-large;
}

div:has(> math) {
  background-color: #e1e5e849;
  border: 1px solid lightgray;
  text-align: center;  
  margin-bottom: 15px;
}

hr {
  height: 1px;
  border: none;
  clear:both;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), black, rgba(0, 0, 0, 0.2));
}

table.trading-report {
  margin: 2rem auto;
  border-collapse: collapse;
  max-width: 90%;
  width: auto;

  &,
  th,
  td {
    border: 1px solid #333;
  }

  th {
    font-weight: bold;
    text-align: center;
  }

  th,
  td {
    text-align: center;
    padding: 0.75rem 1rem;
  }

  tbody {
    tr:hover {
      border: 4px solid black;
      font-weight: bolder;
    }
  }
}

.list-of-points article {
  margin-bottom: 30px;
  background-color: rgba(230, 230, 230, 0.1);
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 5px;
  padding: 10px;

  h1, h2, h3 {
    margin: 0;
    font-size: 24px;
    font-weight:300;    
  }

  > * {
    margin-left: 20px;
  }

  ul {
    margin: 0;
  }
}

.fa-thumbs-up {
  color: darkgreen;
}

.fa-thumbs-up.down {
  color: darkred;
  transform: scale(1, -1);
}